<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="css/form.css" rel="stylesheet">
</head>

<body>
    <div class="modal-content-pro">
        <div class="container">
            <h1 class="pro">Đổi mật khẩu</h1>

            <label for="psw"><b>Mật khẩu cũ</b></label>
            <input id="matkhau" type="password" placeholder="Nhập mật khẩu" name="psw">

            <label for="psw"><b>Mật khẩu mới</b></label>
            <input id="newmatkhau" type="password" placeholder="Nhập mật khẩu" name="psw">

            <label for="psw-repeat"><b>Nhập lại mật khẩu mới</b></label>
            <input id="nhaplaimk" type="password" placeholder="Nhập lại mật khẩu" name="psw-repeat">

            <div>
                <button id="changepsw" class="btnDoi">Cập nhật</button>
                <button id="cancelbtn" class="btnHuy">Hủy</button>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/script-resetpass.js"></script>
</body>

</html>