<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="css/form.css" rel="stylesheet">
</head>

<body>
    <div class="modal-content animate">
        <div class="imgcontainer">
            <img src="img/yzf-r6.jpg" alt="Avatar" class="avatar">
        </div>
        <div class="container">
            <label for="uname"><b>Tên đăng nhập</b></label>
            <input type="text" placeholder="Tên đăng nhập" id="taikhoan" name="uname" required>

            <label for="psw"><b>Mật khẩu</b></label>
            <input type="password" placeholder="Mật khẩu" id="matkhau" name="psw" required>

            <button type="button" id="btn-login">Đăng nhập</button>
            <div class="signup">
                <span><a href="signup">Đăng ký tại đây</a></span>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/script-signin.js"></script>
</body>

</html>